body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: whitesmoke;
}

h1{
    margin-left: 10px;
}
h3{
    text-align: center;
    margin-top: 4px;
}

.board-container{
    display: grid;
    grid-template-columns: 50px 50px 50px 50px;
    grid-template-rows: 50px 50px 50px 50px; 
    margin: 0 auto;
}

.tile{
    background-color: black;
    border: 1px white solid;
    display: flex;
    justify-content: center;
    align-items: center; 
    font-size: 19px;
    cursor: pointer;
}

#display{
    margin-top: 0;
    margin-bottom: 15px;
    padding: 5px;
    width: 300px;
    height: 55px;
    display: flex;
    justify-content: center;
    text-justify: center;
    align-items: center;
    text-align: center;
    border: 1px solid white;
}
.taly-box{
    padding-top: 2px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-evenly;
    width: 195px;
    height: 50px;
    border: solid white .05em;
    font-size: 1em;
    font-weight: bold;
    background-color: rgb(14, 14, 104);
}

.score{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 2em;
    font-weight: 100;
    padding-bottom: 5px;
}

.hide-hover:hover::after{
    color:white;
    content: "HIDE";
    opacity: .4;
}

.seek-hover:hover::after{
    color:white;
    content: "SEEK";
    opacity: .4;
}
